In [142]:
%load_ext autoreload
%autoreload 2

import pandas as pd

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [143]:
!conda info --envs

# conda environments:
#
base                     /Users/diat.lov/miniconda3
audio                    /Users/diat.lov/miniconda3/envs/audio
chatbot               *  /Users/diat.lov/miniconda3/envs/chatbot
cv                       /Users/diat.lov/miniconda3/envs/cv
gymlab                   /Users/diat.lov/miniconda3/envs/gymlab
hyperstyle               /Users/diat.lov/miniconda3/envs/hyperstyle
pythonProject1           /Users/diat.lov/miniconda3/envs/pythonProject1
rl                       /Users/diat.lov/miniconda3/envs/rl

In [268]:
from data_preprocessing.tg_json_reader import DataRetriever
from data_preprocessing.conversation_builder import create_conversations

In [240]:
path = "/Users/diat.lov/Downloads/Telegram Desktop/DataExport_2021-11-05/result.json"
data_retriever = DataRetriever(path)
dictinoary = data_retriever.get_message_history_by_name("–ö–∞—Ç—è")

In [241]:
df = data_retriever.get_pandas_df(dictinoary)

In [185]:
df.head()

,id,type,date,from,from_id,text,contact_information,file,thumbnail,media_type,...,discard_reason,location_information,forwarded_from,edited,via_bot,performer,title,live_location_period_seconds,poll,message_id
0,1,message,2017-06-05T08:52:50,Daria Diatlova,user336968719,D,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,message,2017-06-05T08:55:30,–ö–∞—Ç—è,user109937743,,"{'first_name': '–°–≤–µ—Ç–ª–∞–Ω–∞ –ê–Ω–∞—Ç–æ–ª—å–µ–≤–Ω–∞(–∞–π—Ñ)', 'l...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11,message,2017-06-06T03:16:59,Daria Diatlova,user336968719,–ù–æ—Ä–º–∞–ª—å–Ω–∞—è —Ä—É–±–∞—à–∫–∞üòÖüòÖ,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13,message,2017-06-06T03:24:19,–ö–∞—Ç—è,user109937743,–ü—Ö–∞—Ö–∞—Ö–∞—Ö—Ö–∞—Ö–∞—Ö–∞—Ö–∞,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14,message,2017-06-06T03:24:37,–ö–∞—Ç—è,user109937743,–¢—ã –∫–æ–≥–¥–∞ –¥–æ–º–æ–π?,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
df = data_retriever.tg_specific_preprocessing(df)

In [235]:
df.head(5)

   id        date      time   from                  text
0   1  2017-06-05  08:52:50  Daria                     D
1  11  2017-06-06  03:16:59  Daria  –ù–æ—Ä–º–∞–ª—å–Ω–∞—è —Ä—É–±–∞—à–∫–∞üòÖüòÖ
2  13  2017-06-06  03:24:19   Kate      –ü—Ö–∞—Ö–∞—Ö–∞—Ö—Ö–∞—Ö–∞—Ö–∞—Ö–∞
3  14  2017-06-06  03:24:37   Kate       –¢—ã –∫–æ–≥–¥–∞ –¥–æ–º–æ–π?
4  15  2017-06-06  03:30:55  Daria                   –í 8

In [228]:
def create_conversations(df):
    conversations = []
    idx = 0
    min_dialoge_len = 5
    max_dialoge_len = 100
    while idx < df.shape[0]:
        target_hour = df.time.loc[idx].hour
        message_block = [df.loc[idx]["from"] + " " + df.loc[idx]["text"]]
        for i in range(idx + 1, df.shape[0]):
            if df.time.loc[i].hour == target_hour:
                message_block.extend([df.loc[i]["from"] + " " + df.loc[i]["text"]])
            else:
                target_hour = df.time.loc[i].hour
                idx += i
                if min_dialoge_len <= len(message_block) <= max_dialoge_len:
                    conversations.append(message_block)
                break 
    return conversations

In [229]:
small_df = df.loc[0:200]

In [230]:
small_conversations = create_conversations(small_df)

In [234]:
small_conversations[2]

['Kate –û—Ç–ª–∏—á–Ω–æ',
 'Daria –£ —Ç–µ–±—è –¥–æ–º–∞ –≤–µ–ª–∏–∫?',
 'Kate –î–∞',
 'Daria –°–∫–∞–∂–µ–º, —á—Ç–æ —Ç—ã —Å–ø–æ—Ä—Ç–æ–º –∑–∞–Ω–∏–º–∞–ª–∞—Å—å',
 'Kate –•–æ—Ä–æ—à–æ',
 'Kate –Ø –Ω–∞–ø–∏—à—É',
 'Daria –í—Å–µ, –ö–æ–ª—è –ø–æ–µ—Ö–∞–ª –Ω–∞ —Ä–∞–±–æ—Ç—É, —è —Å–∫–∞–∑–∞–ª–∞, —á—Ç–æ —Ç—ã –Ω–∞–ø–∏—Å–∞–ª–∞, —á—Ç–æ –±–µ–≥–∞–ª–∞ –∏ —É–∂–µ –¥–æ–º–æ–π –±–µ–∂–∏—à—å',
 'Daria –û–Ω —Å–ø—Ä–æ—Å–∏–ª, —á—Ç–æ –º—ã –±—É–¥–µ–º –¥–µ–ª–∞—Ç—å, —è —Å–∫–∞–∑–∞–ª–∞, —á—Ç–æ –ö–æ–ª–∏ –æ—Ç–≤–µ–∑—ë—Ç –Ω–∞—Å –∫—É–¥–∞-–Ω–∏–±—É–¥—å –≤ –≥–æ—Ä–æ–¥',
 'Daria –ö–æ–¥–∏*',
 'Daria –û–π, —è —Å–µ–±–µ –≤ –ª–∏—á–∫—É –∫–∏–¥–∞–ª–∞']

In [269]:
all_conversations = create_conversations(df)

In [283]:
len(all_conversations)

4741

In [286]:
all_conversations[10]

['Kate –¢—ã —Ä–∞–±–æ—Ç–∞–µ—à—å –µ—â—ë?',
 'Kate –¢—ã —Ä–∞–±–æ—Ç–∞–µ—à—å –µ—â—ë?',
 'Daria –ù–µ—Ç, —Å–∏–∂—É –ø—Ä–æ—Å—Ç–æ',
 'Kate –ö–æ–¥–∏ –ø–æ–ø—Ä–æ—Å–∏—Ç—å —Ç–µ–±—è –∑–∞–±—Ä–∞—Ç—å?',
 'Kate –ù–∞–ø–∏—à–∏ —á—Ç–æ —Ç–µ–±–µ —Å–¥–µ–ª–∞—Ç—å',
 'Kate –•–æ—Ä–æ—à–æ',
 'Kate –ù–∞–ø–∏—à–∏ –∫–∞–∫ –º–æ–∂–µ—à—å',
 'Kate –ü–æ–µ–¥–µ—à—å',
 'Kate –ß–∞–π –ø–æ—Å—Ç–∞–≤–ª—é',
 'Daria –û–∫–∏']